.fun-external-link,
.view-proj {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	border-radius: 6px;
	background: linear-gradient(#C0CBFF, #929DD4);
	box-shadow: 
		inset 1px 2px 2px #DEE2F3, 
		inset -2px -2px 2px #8A8FAD;
	color: rgb(255,255,255);
	text-shadow: -1px -1px 1px #707EC7;
	letter-spacing: 1px; 
	@include transitions(background 0.3s);
	
}

.fun-external-link {
	width: 40%;
	margin: 0 auto;
}

.fun-external-link:hover,
.view-proj:hover {
	background: linear-gradient(#F9A8A8, #fc7777);
	box-shadow: 
		inset 1px 2px 2px #ECC6C6, 
		inset -2px -2px 2px #926464;
	text-shadow: -1px -1px 1px #926161;
}