.contact-section {
	padding-bottom: 100px;
	max-width: 600px;
	margin: 0 auto;
}

.contact-img-container {
	float: left;
	border-radius: 50%;
	background-color: #A9B4E9;
	@include animations(colorChange 10s infinite);
	img {
		width: 150px;
		padding: 75px 60px;
	}
}

.contact-text-container {
	float: left;
	padding-left: 5%;
}

.contact-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
		font-size: 1.2em;
		line-height: 1.7em;
		a {
			color: #6C83F5;
			text-decoration: none;
		}
		a:hover {
			color: #fc7777;
		}
	}
}
