$firstAnimationColor: #A9B4E9;
$secondAnimationColor: #82E8BF;
$thirdAnimationColor: #E8D377;
$fourthAnimationColor: #CBA3EF;

@-webkit-keyframes colorChange {
	0% {background-color: $firstAnimationColor;}
	25% {background-color: $secondAnimationColor;}
	50% {background-color: $thirdAnimationColor;}
	75% {background-color: $fourthAnimationColor;}
	100% {background-color: $firstAnimationColor;}
}

@-moz-keyframes colorChange {
	0% {background-color: $firstAnimationColor;}
	25% {background-color: $secondAnimationColor;}
	50% {background-color: $thirdAnimationColor;}
	75% {background-color: $fourthAnimationColor;}
	100% {background-color: $firstAnimationColor;}
}

@-o-keyframes colorChange {
	0% {background-color: $firstAnimationColor;}
	25% {background-color: $secondAnimationColor;}
	50% {background-color: $thirdAnimationColor;}
	75% {background-color: $fourthAnimationColor;}
	100% {background-color: $firstAnimationColor;}
}

@keyframes colorChange {
	0% {background-color: $firstAnimationColor;}
	25% {background-color: $secondAnimationColor;}
	50% {background-color: $thirdAnimationColor;}
	75% {background-color: $fourthAnimationColor;}
	100% {background-color: $firstAnimationColor;}
}