@mixin appearanceNone() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin transitions($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin animations($name) {
	-webkit-animation: $name;
	-moz-animation: $name;
	-o-animation: $name;
	animation: $name;
}