nav {
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        li {
            margin: 0;
            padding: 0;
            display: inline-block;

            &:nth-child(2) {
                margin: 0 50px;
            }
        }
        a {
            text-decoration: none;
            display: inline-block;
            color: #5A5A5A;
            font-size: 1.2em;
            border-bottom: solid 2px transparent;
            
            &.active,
            &:hover {
                border-bottom: solid 2px;
                color: #fc7777;
            }
        }
    }
}